<html>
  <head>
    <title>New Story</title>
  </head>

  <body>
    <form action='/stories' method='post'>
      <h1>
        Create Story
      </h1>

      <div>
        <label for='story_title'>Title</label>
        <input type='text' id='story_title' name='story[title]' />
      </div>

      <div>
        <button>Create Story</button>
      </div>
    </form>
  </body>
</html>